@charset "utf-8";
$highlight: #6dc77a;
$darker-highlight: #5ca967;

.btn-primary{
  a{
    color:white;
  }

  a:hover{
    color:white;
  }
  background-color: $highlight;
  border-color: $darker-highlight;
  color:white;
}

.btn-primary:hover{
  background-color: $highlight;
  border-color: $darker-highlight;
  color:white;
}

nav{
  background: url("../images/footer_pattern.png");
  #nav-brand-link {
    color: white;
  }
}
.navbar-default{
  border-width:0px;
}

.secondary-background{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f8fa;
}

#landing-header{
  padding-top:200px;
  padding-bottom:200px;
  padding-left:20px;
  padding-right:20px;
  background: url("../images/hero.jpg") 50% 50%;

  h1, h2, h3, h4, h5, p{
    color:white;
    line-height: 120%;
    text-shadow: 4px 4px 15px black;
  }
}

#instructors{
  img{
    margin-bottom: 50px;
  }
}

#jobs-background{
  section{
    margin-top:0px;
  }
  padding-top: 100px;
  height: 400px;
  background: url("../images/steve_jobs.png") 50% 50%;
  background-size: cover;
}

img{
  max-width: 100%;
  max-height: 100%;
}

#tech-logos{
  padding-top:145px;
  img{
  }
}

#course-details{
  h4{
    margin-top:50px;
  }
}

section{
  margin-top: 70px;
  margin-bottom: 70px;
}

footer{

  h1, h2, h3, h4, h5, p{
    color:white;
  }
  padding-top:100px;
  padding-bottom:50px;
  background: url("../images/footer_pattern.png");
}

.bigger{
  font-size:120%;
}

.icon-header{
  height: 80px;
  img{
    height: 100%;
  }
  margin-bottom:45px;
  margin-top:45px;
}
