body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0;
  cursor: default;
}
h1 {
  font-size: 66px;
  line-height: 74px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 40px;
}
h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 40px;
}
h3 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 40px;
}
h4 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
  padding-bottom: 40px;
}
h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 40px;
}
h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 40px;
}
h6.light {
  font-weight: 300;
  letter-spacing: 2px;
  margin-right: -2px;
}
@media all and (max-width: 1024px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
  h2 {
    font-size: 50px;
    line-height: 58px;
  }
  h3 {
    font-size: 40px;
    line-height: 48px;
  }
  h4 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media all and (max-width: 990px) {
  h1 {
    font-size: 46px;
    line-height: 50px;
  }
  h2 {
    font-size: 46px;
    line-height: 50px;
  }
  h3 {
    font-size: 36px;
    line-height: 40px;
  }
  h4 {
    font-size: 26px;
    line-height: 30px;
  }
  h5 {
    font-size: 18px;
    line-height: 26px;
  }
}
p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  cursor: default;
}
p.lead {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}
p.sub {
  font-size: 12px;
  line-height: 16px;
}
p.sub a {
  font-weight: bold;
  color: #222;
}
p:last-child {
  margin-bottom: 0;
}
p a {
  color: #6dc77a;
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
p a:hover {
  color: #40a74f;
}
p.text-white a {
  color: #fff;
}
@media all and (max-width: 768px) {
  p.lead {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
/*!---------- COLOURS ----------*/
a {
  color: #888;
}
a:hover {
  color: #444;
}
.text-white {
  color: #fff !important;
}
.muted-white {
  color: #f8f8f8;
}
.bg-secondary {
  background: #f6f8fa;
}
section.bg-dark,
footer.bg-dark {
  background: #222;
}
section.bg-dark.bg-secondary,
footer.bg-dark.bg-secondary {
  background: #282828;
}
section.bg-dark h1,
footer.bg-dark h1,
section.bg-dark h2,
footer.bg-dark h2,
section.bg-dark h3,
footer.bg-dark h3,
section.bg-dark h4,
footer.bg-dark h4,
section.bg-dark h5,
footer.bg-dark h5,
section.bg-dark h6,
footer.bg-dark h6 {
  color: #fff;
}
section.bg-dark p,
section.bg-dark span,
footer.bg-dark {
  color: #eee;
}
section.bg-dark a,
footer.bg-dark span {
  color: #fff;
}
::selection {
  background: #6dc77a;
  color: #fff;
}
::-moz-selection {
  background: #6dc77a;
  color: #fff;
}
/*!---------- FORMS ----------*/
input,
textarea {
  -webkit-appearance: none;
}
textarea {
  font-weight: 400;
}
input[type="text"] {
  height: 54px;
  line-height: 48px;
  padding-left: 16px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 3px;
  font-size: 16px;
  color: #888888;
  font-weight: 400;
}
input[type="submit"] {
  font-weight: 500 !important;
  height: 54px;
  line-height: 48px;
  text-align: center;
  background: #6dc77a;
  border: 1px solid #6dc77a;
  font-size: 18px;
  font-weight: 300;
  padding: 0 36px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  color: #fff;
}
input[type="submit"]:hover {
  background: #5bc069;
  color: #fff;
}
input:focus,
textarea:focus {
  outline: none;
}
input.field-error,
textarea.field-error {
  outline: 1px solid #a83a3a;
}
form {
  position: relative;
  display: inline-block;
}
form p {
  margin-top: 12px;
}
form a {
  font-weight: bold;
}
.contained-form input[type="text"]:first-of-type {
  border-radius: 3px 0px 0px 3px;
  position: relative;
  left: 3px;
}
.contained-form input[type="text"]:nth-of-type(2) {
  border-radius: 0px;
  border-left: 1px solid #eee;
}
.contained-form input[type="submit"] {
  border-radius: 0px 3px 3px 0px;
  position: relative;
  right: 3px;
  top: 1px;
}
.form-success,
.form-error {
  position: absolute;
  bottom: 105%;
  left: 0;
  width: 100%;
  z-index: 20;
  background: #a83a3a;
  color: #fff;
  border-radius: 3px;
  padding: 8px;
  display: none;
}
.form-success {
  background: #3aa844;
}
@media all and (max-width: 767px) {
  .contained-form input {
    width: 100%;
    left: 0 !important;
    right: 0 !important;
  }
  .contained-form input[type="text"]:first-of-type {
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
  }
  .contained-form input[type="text"]:nth-of-type(2) {
    border-radius: 0px;
    border-top: 1px solid #eee;
  }
  .contained-form input[type="submit"] {
    border-radius: 0px 0px 3px 3px;
    top: 0;
  }
}
.mail-list-form {
  display: none;
}
